@import url('./base.css');

#app {
  height: 100vh;
}

.el-container,
.common-layout {
  height: 100%;
}

.el-header {
  padding: 0;
}

.el-main {
  height: calc(100% - 120px);
}

.el-input {
  width: 100%;
  transition: width 0.4s ease-in-out;
}

.el-input--medium:focus {
  width: 70%;
}


.vertical-middle {
  display: inline-block;
  vertical-align: middle;
}